.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 710px;
    }
}
@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 35%;
        top: 700px;
    }
}
#Nombre{
    font-weight: bold;
    margin-top: 20%;
    margin-left: 10px;
    margin-right: 10px;
}