<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto-perfil.jpeg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="Nombre">{{persona.nombre}}{{persona.apellido}}</p>
        <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quibusdam nulla perspiciatis placeat quos veniam
                eum eaque, totam sint ratione deleniti esse nobis incidunt 
                iure doloremque voluptatum consectetur? Corporis, adipisci velit!</p>
        </span>
    </div>
</div>